@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000300;
}

.typewriter-container {
  display: inline-block;
  font-family: inherit;
  font-weight: 900;
  color: #FF009C;
  margin-bottom: -85px;
}

@media (max-width: 1920px) {
  .typewriter-container {
    font-size: 120px;
  }
}

@media (max-width: 1024px) {
  .typewriter-container {
    font-size: 80px;
  }
}

@media (max-width: 480px) {
  .typewriter-container {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  .typewriter-container {
    font-size: 40px;
  }
}
